.mdetails {
  max-width: 600px;
  margin: 0 auto;
}

.mdetails-photos {
  display: flex;
  width: 100%;

  &__main {
    width: 100%;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 12px;
    height: 600px;
    img {
      @include img-cover;
      //       width: auto !important;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 90px;
    .photo-active {
      border: 2px solid rgba($color-primary, 1);
    }
  }

  &__item {
    display: flex;
    height: 100px;
    width: 100%;
    border: 1px solid rgba($color-black, 0.1);
    overflow: hidden;
    border-radius: 5px;
    img {
      @include img-cover;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.mdetails-breadcrumb {
  padding: 10px 0;
  a {
    color: $color-black;
    text-decoration: none;
    font-size: 18px;
  }

  span {
  }
}

.mdetails-color {
  display: flex;
  flex-direction: column;

  &__list {
    margin: 15px 0;
    display: flex;
    list-style: none;
    width: 100%;
    overflow: hidden;

    .color-active {
      border: 3px solid $color-primary;
    }
  }

  &__item {
    @include square-size(60px);
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid rgba($color-black, 0.3);
    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
  }
}
.mdetails-header {
  &__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__brand {
    height: 70px;
    img {
      height: 100%;
    }
  }

  &__title {
    font-size: 30px;
    color: $color-main;
    padding: 0;
  }

  &__price {
    font-size: 22px;
    .text {
      color: $color-main;
    }

    .price {
      color: $color-light-red;
      font-size: 34px;
      font-weight: 700;
    }
  }

  &__bottom {
    display: flex;
  }
}

.mdetails-stars {
  display: flex;
  align-items: center;
  width: 100%;
  ul {
    display: flex;
    list-style: none;
  }

  li {
    svg {
      height: 30px;
      width: 30px;
      fill: $color-yellow;
    }
  }

  .count {
    margin-left: 5px;
    font-size: 20px;
  }
}

.mdetails-quantity {
  display: flex;
  flex-wrap: wrap;
  .quantity {
    width: 25%;
  }
}

.quantity {
  &__size {
  }

  &__input {
  }
}
